html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: #4E4A4E;
}

.rpgui-content {
  max-width: 1500px;
  position: relative;
}
@media (min-width: 1050px) {
  .rpgui-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "name name" "intro projects" "about projects" "links projects";
  }
}

#Name {
  grid-area: name;
}

#Intro {
  grid-area: intro;
}

#About {
  grid-area: about;
}

#Projects {
  grid-area: projects;
}

#Links {
  grid-area: links;
}

.sticky {
  position: sticky;
  display: none;
  bottom: 20px;
  left: 100%;
  z-index: 1000;
}

.small {
  background-size: 60px 50px;
  width: 10px;
}

.rpgui-container {
  position: initial;
}

.rpgui-content :disabled {
  color: #fff;
}

.rpgui-content textarea {
  height: 300px;
}
@media (min-width: 600px) {
  .rpgui-content textarea {
    height: 180px;
  }
}
@media (min-width: 1050px) {
  .rpgui-content textarea {
    height: 350px;
  }
}

.menu {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__link {
  width: 45%;
}
@media (min-width: 600px) {
  .menu__link {
    width: 40%;
  }
}
@media (min-width: 800px) {
  .menu__link {
    width: 20%;
  }
}
.menu__link .rpgui-button {
  width: 100%;
}
@media (min-width: 1050px) {
  .menu {
    display: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.card__titleXXL {
  font-size: 3rem !important;
}
.card__subTitleXL {
  font-size: 1.5rem !important;
}
.card__divider {
  width: 100%;
}
.card__img {
  align-self: center;
  width: 50%;
}
.card__resumes {
  max-width: 200px;
  margin: 0 auto;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 1050px) {
  .card__content {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
  }
}
.card__content label {
  align-self: flex-start;
}
@media (min-width: 1050px) {
  .card__content {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.card__links {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
}
@media (min-width: 1050px) {
  .card__links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.container .card__project {
  max-width: 350px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__title {
  text-align: center;
}
.project__image {
  width: 100%;
  height: 304px;
  object-fit: cover;
  object-position: center center;
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 15px 5px #000000;
  box-shadow: 0px 0px 15px 5px #000000;
  margin-bottom: 1em;
}
.project__links {
  display: flex;
  justify-content: space-around;
  text-align: center;
}/*# sourceMappingURL=style.css.map */